.App {
  display: grid;
  width: 1200px;
  grid-template-areas: 
  "h h"
  "n p";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
  background-color: steelblue;
}

.header img {
  width: 60px;
}

.nav {
  grid-area: n;
  background-color: darkolivegreen;
}

.profile {
  grid-area: p;
  background-color: darksalmon;
}

.profile img {
  width: 150px;
}